<div class="position-relative" data-controller="dialog"
     data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
  <button class="btn" style="--btn-background: var(--card-bg-color);"
      data-controller="tooltip hotkey"
      data-action="click->dialog#open:stop keydown.z@document->hotkey#click">
    <%= icon_tag "maximize" %>
    <span class="for-screen-reader">Change card size (z)</span>
  </button>

  <dialog class="popup panel flex-column align-start gap-half fill-white shadow txt-small"
      data-dialog-target="dialog"
      data-action="turbo:submit-end->dialog#close">
    <div class="flex-column gap-half full-width">
      <h3 class="txt-small txt-bold margin-block-end-half">Ticket Size</h3>

      <div class="flex-column gap-quarter">
        <% Card::Sizeable::SIZES.reverse.each do |size| %>
          <%= button_to card_size_path(card), method: :patch, params: { size: size },
              class: "btn btn--plain justify-start #{card.size == size ? 'btn--reversed' : ''}",
              data: { turbo_frame: dom_id(card, :card_container) } do %>
            <span class="txt-uppercase txt-bold"><%= size %></span>
          <% end %>
        <% end %>
      </div>

      <hr class="full-width">

      <%= button_to card_size_path(card), method: :delete,
          class: "btn btn--plain justify-start txt-muted",
          data: { turbo_frame: dom_id(card, :card_container) } do %>
        <span>Clear size</span>
      <% end %>
    </div>
  </dialog>
</div>
