<% @page_title = @collection.name %>

<div class="card-columns">
  <%= render "cards/index/engagement/considering", **@considering.to_h %>
  <%= render "cards/index/engagement/doing", **@doing.to_h %>
</div>

<%= render "cards/index/engagement/closed", **@closed.to_h %>
